<div class="author">
    <h1 class="author__heading">Welcome To My Tech Space!</h1>
    <p class="author__body">Learning, Building, and Sharing the Journey</p>
  </div>
  
  <img src="/img/Banner.webp" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    
   <!-- <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul> -->

    <ul class="article-grid">
  <% data.forEach(post => { %>
    <li class="article-card">
      <a href="/post/<%= post._id %>">
        <img src="<%= post.image %>" alt="<%= post.title %>" class="article-image" />
        <div class="article-content">
          <h3><%= post.title %></h3>
          <p class="article-date"><%= post.createdAt.toDateString() %></p>
        </div>
      </a>
    </li>
  <% }) %>
</ul>
  
  
    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
   
  
    
  
  
  
  </section>
